.mission {
    color: #c62430;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.team {
    padding: 50px;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.team .button {
    border: none;
    /* outline: 0; */
    display: inline-block;
    padding: 8px;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 0.25rem;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
        padding: 0;
    }
}

@media screen and (min-width: 650px) {
    .column {
        width: 50%;
        display: block;
        padding: 0;
    }
}

@media screen and (min-width: 1000px) {
    .column {
        width: 25%;
        display: block;
        padding: 0;
    }
}